# 2. Python Data Types
## 2.1 Numeric: int, float, complex
#### Number Data Type in Python
<p>Python supports integer, floating-point numbers and complex number.</p>
<p>Integers and floating point are separated by the presence or absence of a decimal point.</p>
<p>Complex number are written in the from: x + yj, where x is the real part and y is the imaginary part.</p>
<p>Integers can be of any length, a floating-point number is accurate only up to 15 decimal places (the 16th place is inaccurate).</p>

In [1]:
a = 5
print(type(a))

<class 'int'>

In [2]:
a = 5.0
print(type(a))

<class 'float'>

In [4]:
a = 5 + 6j
print(type(a))

<class 'complex'>

## 2.2 Text: str
### 2.2.1 String
<p>In Python, a string is a sequence of Unicode characters. Unicode was introduced to include every character in all languages and bring uniformity in endcoding. You can learn about Unicode from Python Unicode.</p>
<p>Strings can be created by enclosing charaters inside a single quote or double-quotes.Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.</p>

In [5]:
s1 = 'developer Cambodia'
s2 = "developer Cambodia"
s3 = '''developer

Cambodia'''

print(s1)
print(s2)
print(s3)
print(type(s1))
print(type(s2))
print(type(s3))

developer Cambodia
developer Cambodia
developer

Cambodia
<class 'str'>
<class 'str'>
<class 'str'>

### 2.2.2 Escape Sequence
<p>To insert charactes that are illigal in a string, use an escape character.</p>
<p>An escape character is a backslash \ follow by the character you want to insert.</p>
<p>An escape sequence you starts with a backslash and is interpreted differently. If we use a single quote to represent a string, all the single quotes inside the string must be escaped. Similar is the case with double quotes.</p>

In [6]:
# to show the double quotes
s = "developer\""
print(s)

developer"

In [7]:
# to show the backslash
s = "developer\\"
print(s)

developer\

In [8]:
# to start a new line
s = "del\noper"
print(s)

del
oper

### 2.2.3 Raw String
<p>Sometimes we may wish to ignore the escape sequences inside a string. To do this we can place r or R infront of the string. This will imply that it is a raw string and any escape sequence inside it will be ignored.</p>

In [9]:
s = r"C:\abc\abc\abc.txt"
print(s)

C:\abc\abc\abc.txt

### 2.2.4 Access Characters in a String
<p>We can access individual characters using indexing and range of characters using slicing. Index starts from 0. Tryring to access a character out of index range will raise an indexError. The index must be an integer. We can't use float or other types, this will result into TypeError</p>
<p>Python allows negative indexing for its sequences.</p>
<p>The index of -1 refer to the last item, -2 the second last item and so on. We can access a range of items in a string by using the slicing operator : (colon).</p>

In [10]:
s = "developer"
s[0]

'd'

In [11]:
s[1]

'e'

In [12]:
s[-1]

'r'

In [13]:
s[99]

IndexError: string index out of range

In [14]:
s[1.0]

TypeError: string indices must be integers, not 'float'

In [15]:
# developer
s[0:3]

'dev'

In [16]:
# developer
s[0:4:2]

'dv'

In [17]:
# unchangeable
s[1] = "a"

TypeError: 'str' object does not support item assignment

### 2.2.5 String Operations
<p>There are many operations that can be performed with strings which maked it one of the most used data type in Python.</p>
<p>Joining of two or more strings into a single one is called concatenation. The + operator does this in Python.</p>
<p>The * operator can be used to repeat the string for a given number of times.</p>

In [18]:
# + operator
a = "hello"
b = "world"
print(a + b)

helloworld

In [19]:
# * operator
a = "hello"
print(a * 2)

hellohello

### 2.2.6 Common Python String Methods
<p>There are numerous methods available with the string object.</p>
<p>Some of commonly used method are lower(), upper(), join(), split(), find(), replace(), etc.</p>

In [20]:
# split
# str.split(str1) : split a string by str1
s = "python is cool"
s.split(' ')

['python', 'is', 'cool']

In [21]:
# replace
# str.replace(str1, str2) : replace str1 by str2
s = "developer"
s.replace("er", "ment")

'development'

In [22]:
# lower and upper
# str.lower() : lower a string
# str.upper() : upper a string
s = "Developer"
print(s.lower())
print(s.upper())

developer
DEVELOPER

In [23]:
# join
# str.join(iter) : join the string by iter
"--".join(['python', 'is', 'cool'])

'python--is--cool'

### 2.2.7 String formatting

In [1]:
# switch %s and %d with AI and 63
'My name is %s, age is %d' %('AI', 63)

'My name is AI, age is 63'

## 2.3 Lists
<p>Lists are mutable sequences, typically used to store collections of homogeneous items.</p>
<p>list = [obj1, obj2, ...]</p>

In [2]:
l = [1, 2, 3] # create a list
print(l)

[1, 2, 3]

In [3]:
# access item in a list
print(l[1])
print(l[0:2])
print(l[0:3:2])

2
[1, 2]
[1, 3]

In [4]:
# change item in a list
l[1] = 0
print(l)

[1, 0, 3]

### 2.3.1 Lists Operators
<p>Same as string operators</p>

In [5]:
a = [1, 2, 3]
b = [4, 5]

In [6]:
# * operator
print(a * 2)
# + operator
print(a + b)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

### 2.3.2 Lists Methods

In [7]:
animals = ['cat', 'dog', 'bird']
# list.append(obj) : add one item to end of a list
animals.append('fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

In [14]:
# list.remove(obj) : delete one or more items from a list
animals.remove('fish')
print(animals)

['cat', 'dog', 'bird']

In [15]:
# list.insert(index, obj) : insert an item at the defined index
animals.insert(1, 'fish') # insert fish at index 1
print(animals)

['cat', 'fish', 'dog', 'bird']

In [16]:
# list.pop([index = -1]) : remove and return the last item if the index is not provided
print(animals.pop())

bird

In [17]:
print(animals)

['cat', 'fish', 'dog']

In [18]:
# enumerate(sequence) : adds counter to an iterable and returns it
for i, x in enumerate(animals):
    print(i, x)

0 cat
1 fish
2 dog

In [19]:
# list sort
list1 = [12, 45, 32, 55]
# list.sort(cmp = None, key = None, reverse = false) : sorts the elements of a given list in a specific ascending 
list1.sort() # sort list1
print(list1)

[12, 32, 45, 55]

In [20]:
# list.reverse() : reverses the elements of the list
list1.reverse()
print(list1)

[55, 45, 32, 12]

In [21]:
# list Comprehension
squares = [x * 2 for x in animals] # define and create lists based on existing lists.
print(squares)

['catcat', 'fishfish', 'dogdog']

### 2.3.3 Lists slicing and indexing
<p>List indexing returns the index of the specified element in the list</p>

In [22]:
l = [[1, 3], [4, 5]]
l[1][0]

4

<p>List slicing returns a slice object that can be used to slice strings, lists, tuple, etc.</p>
<p>list[start:end:step]:</p>
<ul>
    <li>start : where slicing starts; Default to None if not provided.</li>
    <li>end : where slicing stops.</li>
    <li>step : determines the increment between each index for slicing. Default to None if not provided.</li>
</ul>

In [23]:
l = [0, 1, 2, 3, 4, 5]
l[::2]

[0, 2, 4]

In [24]:
l[1:4:2]

[1, 3]

## 2.4 Tuples